.singInButton {
    -fx-background-color: transparent;
    -fx-text-fill: #01923f; /* Só funciona no texto de controles */
    -fx-border-color: transparent;
    -fx-underline: true;
    -fx-cursor: HAND;
}

.defaultButton {
    -fx-background-color: #009532;
    -fx-text-fill: white;
    -fx-cursor: HAND;
}

.secondaryButton {
    -fx-background-color: transparent;
    -fx-border-color: #009532;
    -fx-border-radius: 4px;
    -fx-text-fill: #009532;
    -fx-cursor: HAND;
}

.tertiaryButton {
    -fx-background-color: transparent;
    -fx-cursor: HAND;
}

.deleteButton {
    -fx-background-color: transparent;
    -fx-text-fill: #950200;
    -fx-border-color: #950200;
    -fx-border-width: 1px;
    -fx-border-radius: 4px;
}

.header_mobi {
    -fx-background-color: #009532;
    -fx-alignment: CENTER_LEFT;
    -fx-padding: 12px 32px 12px 32px;
}

.title {
    -fx-font-family: Inter;
    -fx-text-fill: #5E605E;
    -fx-font-size: 20px;
}

.card {
    -fx-background-color: #FFFFFF;
    -fx-border-color: #5E605E ;
    -fx-border-style: solid;
    -fx-border-radius: 4px;
    -fx-padding: 16px;
}

.card_title {
    -fx-font-family: "Source Code Pro";
    -fx-font-size: 10px;
    -fx-text-fill: #000000;
}

.caption {
    -fx-font-family: "Source Code Pro";
    -fx-font-size: 12px;
    -fx-text-fill: #ADB5BD;
}

.empty_state {
    -fx-alignment: center;
    -fx-min-width: 100%;
}

.content_container {
    -fx-spacing: 8px;
    -fx-padding: 24px 32px 24px 32px;
}

.content_container_tables {
    -fx-spacing: 8px;
    -fx-padding: 16px 16px 16px 16px;
}

.textField {
    -fx-border-color: #5e605e;
    -fx-border-radius: 4px;
}

.textField:focused {
    -fx-border-color: #009532;
}

.passwordField {
    -fx-border-color: #5e605e;
    -fx-border-radius: 4px;
}

.passwordField:focused {
    -fx-border-color: #009532;
}

.select {
    -fx-background-color: transparent;
    -fx-border-color: #5e605e;
    -fx-border-radius: 4px;
}

.select .text {
    -fx-text-fill: blue;
    -fx-text-inner-color: red;
}

.menu-button {
    -fx-padding: 0px 10px 0px 0x;
}

.select > .arrow-button > .arrow {
    -fx-shape: "M1.17188 0L5 3.82812L8.82812 0L10 1.17188L5 6.17188L0 1.17188L1.17188 0Z";
    -fx-background-color: #5E605E;
}

.datePicker {
    -fx-border-color: #5e605e;
    -fx-border-radius: 4px;
}

.datePicker:focused {
    -fx-border-color: #009532;
}

.textArea {
    -fx-border-color: #5e605e;
    -fx-border-radius: 4px;
}

.textArea:focused {
    -fx-border-color: #009532;
}

.verMais {
    -fx-font-size: 8px;
    -fx-text-fill: #009532;
    -fx-underline: true;
    -fx-cursor: HAND;
}

.verMaisChevron {
    -fx-fill: #009532;
    -fx-cursor: HAND;
}

.tableField {
    -fx-border-color: #5e605e;
    -fx-border-width: 1px;
    -fx-border-radius: 4px;
}

.container {
    -fx-spacing: 16px;
}

.logout {
    -fx-cursor: HAND;
}

.logoutIcon {
    -fx-shape: "M1.5 13.5C1.0875 13.5 0.734375 13.3531 0.440625 13.0594C0.146875 12.7656 0 12.4125 0 12V1.5C0 1.0875 0.146875 0.734375 0.440625 0.440625C0.734375 0.146875 1.0875 0 1.5 0H6.75V1.5H1.5V12H6.75V13.5H1.5ZM9.75 10.5L8.71875 9.4125L10.6313 7.5H4.5V6H10.6313L8.71875 4.0875L9.75 3L13.5 6.75L9.75 10.5Z";
    -fx-fill: #FFFFFF;
}

.back {
    -fx-cursor: HAND;
}

.backIcon {
    -fx-fill: #5E605E;
}

.dashboard_numeros {
    -fx-margin: 16px 0px 0px 0px;
    -fx-font-size: 32px;
    -fx-font-family: "Source Code Pro";
}

.dashboard_caption {
    -fx-font-family: "Source Code Pro";
    -fx-font-size: 8px;
    -fx-text-fill: #ADB5BD;
}

.editIcon {
    -fx-fill: #009532;
}

.deleteIcon {
    -fx-fill: #950200;
}