.singInButton {
    -fx-background-color: transparent;
    -fx-text-fill: #01923f; /* Só funciona no texto de controles */
    -fx-border-color: transparent;
    -fx-underline: true;
    -fx-cursor: HAND;
}

.defaultButton {
    -fx-background-color: #01923f;
    -fx-text-fill: white;
    -fx-cursor: HAND;
}

.secondaryButton {
    -fx-background-color: transparent;
    -fx-border-color: #01923f;
    -fx-border-radius: 4px;
    -fx-text-fill: #01923f;
    -fx-cursor: HAND;
}

.title {
    -fx-font-family: Inter;
    -fx-text-fill: #5E605E;
    -fx-font-size: 20px;
}