.singInButton {
    -fx-background-color: transparent;
    -fx-text-fill: #01923f; /* Só funciona no texto de controles */
    -fx-border-color: transparent;
    -fx-underline: true;
    -fx-cursor: HAND;
}

.defaultButton {
    -fx-background-color: #01923f;
    -fx-text-fill: white;
    -fx-cursor: HAND;
}

.secondaryButton {
    -fx-background-color: transparent;
    -fx-border-color: #01923f;
    -fx-border-radius: 4px;
    -fx-text-fill: #01923f;
    -fx-cursor: HAND;
}

.header_mobi {
    -fx-background-color: #009532;
    -fx-alignment: CENTER_LEFT;
    -fx-padding: 12px 32px 12px 32px;
}

.title {
    -fx-font-family: Inter;
    -fx-text-fill: #5E605E;
    -fx-font-size: 20px;
}

.card {
    -fx-background-color: #FFFFFF;
    -fx-border-color: #5E605E ;
    -fx-border-style: solid;
    -fx-border-radius: 4px;
    -fx-padding: 16px;
}

.card_title {
    -fx-font-family: "Source Code Pro";
    -fx-font-size: 16px;
    -fx-text-fill: #000000;
}

.caption {
    -fx-font-family: "Source Code Pro";
    -fx-font-size: 12px;
    -fx-text-fill: #ADB5BD;
}

.empty_state {
    -fx-alignment: center;
    -fx-min-width: 100%;
}

.content_container {
    -fx-spacing: 16px;
    -fx-padding: 24px 64px 24px 64px;
}